@import '../../../index.scss';

.search {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  margin-bottom: 1rem;
}

.search-container {
  grid-column: 1/4;
  padding-bottom: 0.5rem;
}

.label-font {
  font-family: $h2-font;
  color: $super-light-cream;
  font-size: 1rem;
}

.select {
  grid-column: 1/3;
  margin: auto;
  margin-left: 0;
  label,
  select {
    font-size: 1rem;
  }
  label {
    font-family: $h2-font;
    color: $super-light-cream;
  }
}

.s-input {
  font-family: $body-font;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  margin-left: 15px;
  margin-right: 5px;
}

.go-button {
  display: block;
  text-align: center;
  font-family: $body-font;
  padding: 5px;
  border-radius: 40px;
  border: 5px double $med-dark-grey;
  width: 4.6875rem;
  font-size: 0.75rem;
  margin: auto;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 700px) {
  /* Medium Screen */

  .button {
    font-size: 1.3rem;
  }
  .searchbar,
  .search {
    display: flex;
    margin: auto;
    width: min-content;
    height: 7.7rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    width: unset;
    height: unset;
  }

  .go-button {
    width: 6.25rem;
    font-size: 1rem;
  }

  .search-container {
    padding-bottom: unset;
  }

  .button_things,
  .user_things {
    display: inline;
  }

  .mobile-button {
    display: none;
  }
  .label-font {
    font-size: 1.3rem;
  }
  .select {
    display: flex;
    flex-direction: row;
    label,
    select {
      font-size: 1.3rem;
    }
  }
  .s-input {
    margin-right: 15px;
    font-size: 1.3rem;
  }
}
