@import '../../../../index.scss';

.type-img {
  height: unset;
  width: 100px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.closed {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-self: center;
}

.inside {
  font-family: $h1-font;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.icon {
  margin: 1px;
  height: 50px;
}

.male,
.female {
  font-size: 1rem;
  text-shadow: 1px 1px $super-light-cream;
}

.male {
  color: skyblue;
}

.female {
  color: pink;
}

.italic {
  font-family: $body-font;
  font-style: italic;
}

.shiny {
  margin-bottom: 2px;
  color: $pokeball-red;
}

@media (min-width: 450px) {
  .icon {
    height: 6.25rem;
  }
}

@media (min-width: 850px) {
  /* Large Ipad Screen */

  .type-img {
    margin: 1px;
  }
}
