@import '../../../index.scss';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $oxford-blue;
  padding: 0.5rem;
  padding-top: 3rem;
  z-index: 1000;
  height: 80%;
  width: 90%;
  overflow-y: scroll;
  border-radius: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0.5rem;
  border: none;
  background-color: transparent;
  color: $super-light-cream;
  &:hover:enabled {
    transition: 0.3s;
    background-color: transparent;
    color: $light-pokeball-red;
  }
}
