.pokeball-div {
  margin: 10px;
}

.hint {
  font-size: 14px;
  letter-spacing: 6px;
}

.team-pagination {
  background-color: rgb(212, 41, 41);
  color: rgb(255, 255, 238);
  text-shadow: 1px 1px rgb(58, 0, 0);
}
