@import '../../../index.scss';

.submit {
  display: inline-block;
  text-shadow: none;
  font-weight: bolder;
  background-color: $super-light-cream;
  font-size: 16px;
  color: $med-dark-grey;
  border-radius: 4px;
  padding: 3px;
  margin: 3px;
  text-decoration: none;
}

.add-folder-button,
.submit,
.edit,
.delete {
  text-align: center;
  font-family: $body-font;
  padding: 5px;
  border-radius: 40px;
  border: 5px double $med-dark-grey;
}

.submit,
.edit,
.delete {
  width: 9.375rem;
  margin: auto;
}

.add-folder-button {
  width: 200px;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 0;
}

.folders {
  display: block;
}

.submit {
  color: green;
}

.pokeball-div {
  margin: 10px;
}

.hint {
  font-size: 14px;
  letter-spacing: 6px;
}

@media (min-width: 800px) {
  .folder-import {
    width: 85%;
    margin: auto;
  }
}
