.user-welcome {
  padding: 5px;
  margin-right: 15px;
  text-align: right;
}

.user-welcome:hover {
  color: rgb(255, 230, 0);
  transition: 0.5s;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button_things, .user_things {
  display: none;
}

.mobile-button {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.home-title {
  background-image: url('../../Images/PokeTeams---Home.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  height: 12em;
  margin: auto;
}

.search-cont {
  
}

@media (min-width: 850px) { /* Large Ipad Screen */

  .home-title {
    background-size: 70%;
    height: 15em;
  }
}