@import '../../../index.scss';

.perks {
  ul {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 75%;
  }

  li {
    text-align: center;
    list-style-position: inside;
    list-style-type: square;
  }
}

.no-styling {
  background-color: transparent;
  color: white;
  text-decoration: underline;
  &:hover {
    background-color: transparent;
    color: $azure;
  }
}

.heading-text {
  margin: 0 0 1rem 0;
}

.landing-title {
  width: 90%;
  background-image: url('../../Images/PokeTeams.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  height: 6em;
  margin: auto;
}

.terms-of-service {
  font-size: 14px;
}

.notice {
  font-size: 12px;
}

@media (min-width: 850px) {
  /* Large Ipad Screen */

  .landing-title {
    background-size: 70%;
    height: 10em;
  }
}
