@import '../../../index.scss';

.button-styling {
  background-color: transparent;
  color: $super-light-cream;
  width: 100px;
  height: 75px;
  &:hover,
  &:hover:enabled {
    transform: translateY(-16px);
    transition: 0.3s;
    background-color: transparent;
    color: $azure;
    span {
      color: $super-light-cream;
    }
  }
}

.active {
  transform: translateY(-16px);
  transition: 0.3s;
  background-color: transparent;
  color: $azure;
  span {
    color: $super-light-cream;
  }
}

.font {
  position: relative;
  bottom: 100%;
  font-size: 0.9rem;
  font-family: $body-font;
  color: $med-dark-grey;
  padding: 0.3125rem;
}
