@import '../../../index.scss';

.container {
  background-color: $oxford-blue;
  height: 100vh;
}

.go-back {
  font-family: $h3-font;
  letter-spacing: 3px;
  padding: 5px;
  margin: 15px;
  font-size: 32px;
  border: 4px double $med-dark-grey;
  border-radius: 10px;
  transition: 0.3s;
  &:hover,
  &:hover:enabled {
    color: $azure;
    transition: 0.3s;
  }
}

.set-list-grid {
  color: $super-light-cream;
  background-color: $oxford-blue;
}
.set-list-grid > div {
  background-color: $prussian-blue;
  &:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: $azure;
  }
}
