@import '../../../../index.scss';

.sprites-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .tiny-icon {
    height: 35px;
  }
}

.team-closed {
  font-size: 14px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-self: center;
  padding: 5px;
  &:hover {
    cursor: pointer;
    background-color: $azure;
    transition: 0.3s;
  }
}

.team-section {
  padding: 2px 2px;
  color: $super-light-cream;
  background-color: $prussian-blue;
  border-top: 1px solid $super-light-cream;
  border-bottom: 1px solid $super-light-cream;
}

.team-section:nth-child(even) {
  background-color: $oxford-blue;
}

.team-section:hover {
  cursor: pointer;
  background-color: $azure;
  transition: 0.3s;
}
