* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: rgb(68, 68, 68);
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px black;
  background-color: rgb(150, 27, 27);
}

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 45px 15px;
}

h1 {
  font-size: 45px;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  text-shadow: 1px 1px rgb(255, 255, 255);
  background-color: rgb(223, 223, 223);
}

section:nth-child(even) {
  color: rgb(236, 236, 236);
  text-shadow: 1px 1px rgb(58, 0, 0);
  background-color: rgb(212, 41, 41);
}

p {
  margin: auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

a, button {
  background-color: white;
  font-size: 16px;
  color: #444;
  border-radius: 4px;
  padding: 3px;
  margin: 3px;
  text-decoration: none;
}

a:hover, button:hover {
  background-color: rgb(216, 216, 216);
  transition: 0.3s;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.searchbar, .search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.team {
  background-color: rgb(212, 41, 41);
  color: rgb(236, 236, 236);
  text-shadow: 1px 1px rgb(58, 0, 0);
  border: 1px solid #444;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.team-closed {
  font-size: 14px;
  display: flex;
  width: 100%;
  text-align: center;
  margin: auto;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 5px;
  
}

.closed{
  font-size: 16px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.details, .stats, .export-pokemon, .export-team{
  background-color: rgb(216, 216, 216);
  border: 1px solid #444;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-intro{
  background-color: rgb(216, 216, 216);
  border: 1px solid #444;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.team-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  align-items: center;
}

.title-content{
  display: flex;
  flex-direction: column;
  font-style: italic;
  width: 85%;
  margin: auto;
  height: 100px;
}

.desc{
  text-align: center;
  border: none;
  border-radius: 20px;
  background: rgb(228, 228, 228);
}

textarea {
  text-align: left;
  border: none;
  resize: none;
  border-radius: 10px;
  width: 100%;
  height: 145px;
}

.italic{
  font-style: italic;
}

label{
  color: rgb(236, 236, 236);
  text-shadow: 1px 1px rgb(58, 0, 0);
}

.title, .pokemon-name{
  color: #444;
  text-emphasis: bold;
  text-align: center;
  font-size: 22px;
  border: none;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  background: rgb(228, 228, 228);
}

.team:hover{
  background-color: rgb(255, 75, 75);
  transition: 0.3s;
}

.pokemon:hover{
  background-color: rgb(238, 238, 238);
  transition: 0.3s;
}

.pokemon-nickname, .pokemon-level, .pokemon-item, .pokemon-ability, .pokemon-nature, .pokemon-happiness, .pokemon-move, .pokemon-gender{
  color: #444;
  text-emphasis: bold;
  text-align: center;
  width: 85%;
  margin: auto;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  background: rgb(228, 228, 228);
}

.names, .sprites{
  display: flex;
  flex-direction: column;
}

img {
  padding: 5px;
  margin: auto;
  align-self: center;
}

.type-img{
  
  width: 100px;
}

.icon {
  width: 75px;
}

.closed{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

.stats{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.first-details{
  display: flex;
  flex-direction: column;
}

.evs{
  display: flex;
  text-align: left;
  flex-direction: column;
}

.ivs{
  display: flex;
  text-align: left;
  flex-direction: column;
}

.pokemon-ev, .pokemon-iv{
  width: 40px;
}

.moves{
  display: flex;
  flex-direction: column;
}

.title-name, .pokemon-import, .team-import{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: auto;
}

.button_things, .user_things {
  display: none;
}

.mobile-button {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.pokemon-intro {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.name-sprite {
  margin: auto;
}

@media (min-width: 700px) { /* Medium Screen */
  .searchbar {
    
    flex-direction: row;
  }
  .button_things, .user_things {
    display: inline;
  }
  .mobile-button {
    display: none;
  }

  .team-header, .pokemon-intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .team-form{
    width: 50%;
  }

  .export-team, .pokemon-import{
    width: 35%;
  }

}

@media (min-width: 850px) { /* Large Ipad Screen */
  .details {
    flex-direction: row;
  }

  .stats {
    width: 33%;
  }

  .export-team, .pokemon-import{
    width: 45%;
  }

}

