@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

/* FONTS */
$body-font: 'Oswald', sans-serif;
$h1-font: 'Sedgwick Ave Display', cursive;
$h2-font: 'Montserrat Alternates', sans-serif;
$h3-font: 'Anton', sans-serif;

/* COLOR SCHEME */
$pokeball-background: #00000033;
$error-blue: #6898ff; // remove
$super-dark-red: #3a0000;
$deep-red: #961b1b; // remove
$pokeball-red: #d42929; // remove
$light-pokeball-red: #ff4b4b; // remove
$pure-yellow: #ffe600; // remove
$med-light-yellow: #ffffaf;
$light-yellow: #fff597;
$super-light-cream: #ffffee;
$light-grey: #cfcfcf;
$med-dark-grey: #444444;

/* NEW COLORS */
$oxford-blue: #122645;
$prussian-blue: #25344a;
$dark-cornflower-blue: #2a4875;

* {
  box-sizing: border-box;
}

body {
  background-color: $super-light-cream;
  font-family: $body-font;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 1.5rem;
  color: $med-dark-grey;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

nav,
footer {
  padding: 1% 0;
  font-size: 12px;
  color: $super-light-cream;
  background-color: $dark-cornflower-blue;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 5px 5px;
}

h1 {
  font-family: $h1-font;
  color: $pure-yellow;
  letter-spacing: 5px;
  font-size: 55px;
  text-shadow: 1px 5px $med-dark-grey;
  margin-top: 1px;
  margin-bottom: 15px;
}

h2 {
  font-family: $h2-font;
}

h3 {
  font-family: $h3-font;
  letter-spacing: 3px;
}

section {
  padding: 1rem 1rem;
  color: $super-light-cream;
  background-color: $prussian-blue;
}

section:nth-child(even) {
  color: $super-light-cream;
  background-color: $oxford-blue;
}

p {
  margin: auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

input,
select {
  border: none;
  border-radius: 10px;
  font-family: $body-font;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

input {
  &::placeholder {
    font-style: italic;
  }
}

.btn,
button {
  font-weight: bolder;
  background-color: white;
  font-size: 16px;
  color: $med-dark-grey;
  border: none;
  border-radius: 4px;
  padding: 3px;
  margin: 3px;
}

a {
  display: inline-block;
  text-shadow: none;
  font-weight: bolder;
  background-color: white;
  font-size: 16px;
  color: $med-dark-grey;
  border-radius: 4px;
  padding: 3px;
  margin: 3px;
  text-decoration: none;
}

a:hover,
button:hover {
  background-color: $light-yellow;
  transition: 0.3s;
}

textarea {
  font-family: $body-font;
  font-weight: 800;
  text-align: left;
  border: none;
  resize: none;
  border-radius: 10px;
  width: 100%;
  height: 145px;
}

label {
  color: $super-light-cream;
  text-shadow: 1px 1px $super-dark-red;
}

img {
  padding: 5px;
  margin: auto;
  align-self: center;
}

.error-login {
  padding: 20px;
  margin: 10px;
  text-align: center;
  text-align: center;
  color: $super-light-cream;
  font-weight: bold;
  font-size: 14px;
}

.error-validate {
  text-align: center;
  text-align: center;
  color: $error-blue;
  text-shadow: 1px 1px $med-dark-grey;
  font-weight: bold;
  font-size: 14px;
}
