@import '../../../index.scss';

.user-welcome {
  padding: 0.3125rem;
  margin-right: 0.9375rem;
  text-align: right;
}

.logo-with-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.25rem;
  h2 {
    font-size: 2.1875rem;
  }
}

.spin {
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}

.spin-back {
  transition: transform 0.2s ease-in-out;
}

.mobile-menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  padding: 0.25rem 0.25rem 0rem 0.25rem;
  background-color: transparent;
  color: $super-light-cream;
  &:hover:enabled {
    background-color: unset;
  }
}

.mobile-buttons {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  top: 60px;
  left: 20px;
  background-color: $dark-cornflower-blue;
  a {
    width: 6.25rem;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button_things,
.user_things {
  display: none;
}

.logo-title {
  width: 100%;
}

.desktop-button {
  display: none;
}

.navigation-body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 440px) {
  .logo-with-text {
    h2 {
      margin: 0;
      font-size: 3.4375rem;
    }
  }
}

@media (min-width: 700px) {
  .navbar {
    flex-direction: column;
    justify-content: unset;
    margin-bottom: 1.5rem;
    max-width: 650px;
    margin-left: auto;
    margin-right: 50px;
  }
  .mobile-menu,
  .mobile-buttons {
    display: none;
  }
  .desktop-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    a {
      width: 6.25rem;
    }
  }
}

@media (min-width: 1200px) {
  /* Desktop */

  .navbar {
    align-items: flex-end;
    width: 80%;
    margin-right: 0;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
  }

  .navigation-body {
    display: flex;
    flex-direction: row;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .desktop-button {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.625rem 0 0.625rem 0.625rem;
    padding: 0.625rem 0 0.625rem 0.625rem;
    a {
      width: 6.25rem;
    }
  }

  .logo-with-text {
    margin: 0;
    align-items: flex-end;
    h2 {
      margin-bottom: 0.6rem;
    }
  }
}
