@import '../../../index.scss';

.pokeball-div {
  margin: 10px;
}

.hint {
  font-size: 14px;
  letter-spacing: 6px;
}

.team-pagination {
  background-color: $pokeball-red;
  color: $super-light-cream;
  text-shadow: 1px 1px $super-dark-red;
}
