.loading {
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  margin: auto;
  z-index: 100;
}

.white {
  background-image: url('../../../Images/Vanilla-2.3s-169px.svg');
}

.black {
  background-image: url('../../../Images/Vanilla-2.3s-169px-transparent.svg');
}
